<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= content %></p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <% posts.forEach(post => { %>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title"><%= post.heading %></h5>
              <% if (post.content) { %> <!-- Check if content is not undefined -->
                <p><%= post.content.substring(0, 100) %>....</p>
                <% } else { %>
                    <p>No content available.</p>
                <% } %>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Written by <%= post.author %> in <%= post.place %> on <%= post.date.toDateString() %></small>
              <small class="text-body-secondary">Tags: <%= post.tags.join(', ') %></small>
                
            </div>
            <button type="button" class="btn btn-outline-info"><a href="/posts/<%= post.heading %>"> Read more</a></button>
          </div>
        </div>
    <% }); %>
    </div>
<%- include('partials/footer'); -%>

